page-cadastro {
    h1 {
        text-align: center;
    }
    
    .list-ios[inset] .item {
        border: 1px solid #ccc !important;
        margin-bottom: 5px;
        border-radius: 8px;
    }

    .scroll-content {
        padding: 100px 16px !important;
    }

    .use-terms {
        text-align: center;
        width: 55%;
        display: block;
        margin: 0 auto;
    }

    .submit-btn {
        border-radius: 8px;
        height: 45px;
    }
}
