page-alimentacao {

  .boxInfo{
    border-style: solid;
    border-color: #0fa698;
  }

  .buscaComida{
    background-color: transparent;
    border: 3px solid black;
    border-radius: 20px;
    padding-top: 5px;
  }
  .listAlimentos{
    padding-top: 5px;
  }
}
