page-duvidas {
  #dtbot-iframe {
    border: 0px !important;
    box-shadow: rgb(208, 208, 208) 0px 0px 3px;
    z-index: 900;
    max-height: 100%;
    max-width: 100%;
    will-change: left, top;
    overflow: hidden;
    height: 523px;
    width: 100%;
  }
}
